body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #5e85b8;
    font-family: 'Times New Roman', Times, serif;
}

.introduir-nom {
    text-align: center;
    border: solid black 1px;
    padding: 5px;
    height: 200px;
    width: 350px;
    background-color: #98856B;
    border-radius: 15px;    
}

#input-nom {
    height: 20px;   
    width: 250px;
    border-radius: 10px;
}

#comencar {
    margin-top: 20px;
    height: 50px;
    width: 120px;
    border-radius: 15px;
    cursor: pointer; 
    display: inline-block; 
    text-decoration: none; 
    color: black;
    background-color: #e0e0e0;
    text-align: center;
    line-height: 50px;
    border: black solid 1px;
}

.joc{
    background-color: #d8a968;
    padding: 20px;
    border-radius: 15px;
    border: black solid 2px;
}

#image-container img {
    width: 50px; /* Ancho de la imagen (ajusta según sea necesario) */
    height: 50px; /* Altura de la imagen (ajusta según sea necesario) */
    margin-right: 5px; /* Espacio entre imágenes (opcional) */
}

#keyboard {
    background-color: #5e85b8!important;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 600px;
    margin-top: 10px;
    justify-content: center; /* Centra los botones horizontalmente */
    position: fixed;
    top: 70%;
    background-color: #f0f0f0;
    padding: 10px;
}


#keyboard button {
    background-color: #5e85b8;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
}

#keyboard button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}